.item {
    color: indigo;
    background-color: lightgoldenrodyellow;
    padding: 10px;
}

.item textarea {
    border-radius: 60px;
    width: 500px;
    padding: 10px;
}

.item button {
    border-radius: 60px;
    width: 100px;
    color: indigo;
    padding: 10px;
}
