.dialogs {
    display: grid;
    grid-area: c;
    grid-template-columns: 3fr 10fr;
    background-color: lightgoldenrodyellow;
    width: 1000px;
    height: 687px;
}

.dialogsItem a {
    padding: 10px;
    color: indigo;
    text-decoration: none;
}

.messages {
    padding: 10px;
    color: indigo;
}

.item textarea {
    border-radius: 60px;
    width: 500px;
    padding: 10px;
}

.item button {
    border-radius: 60px;
    width: 100px;
    color: indigo;
    padding: 10px;
}